.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
      margin: 5px;
    position: relative;
    height: 270px;
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    color: black;
}

.card h5{
  font-size: 1rem;
}

.mission_details span{
  color: #6495ED;
}


.mt30{margin-top: 30px;}
.mt40{margin-top: 30px;}

.mb30{margin-bottom: 30px;}

.right_sidebar button {
  background: green;
  padding: 5px 10px;
  border-radius: 10px;
}

.mission_details p {
  margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 1rem;
}